.header {
    width: 100%;
    display: flex;
    margin-top: 20px;
}

a {
    font-family: 'Work Sans',  sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #1F2937;
    margin: 13px 12px;
}

.active {
    font-weight: 700;
}

.profile-link {
    display: flex;
    margin-left: auto;
}
