.icon {
    margin: 0 10px;
    transition: all 500ms ease;
    border-radius: 50%;
}

.icon:hover {
    transform: rotate(45deg) scale(1.2);
}

.audio {
    width: 620px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.duration {
    width: 40px;
    display: flex;
    justify-content: flex-end;
    margin: 0 10px;
    font-family: 'Roboto',  sans-serif;
}

.trashIcon {
    margin: 0 10px;
}

.trashIcon:hover {
    transform: scale(1.2);
}
