.container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    padding-bottom: 30px;
    flex-wrap: wrap;
}

.newLesson {
    width: 250px;
    height: 250px;
    margin: 15px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='13' ry='13' stroke='%231F2937FF' stroke-width='2' stroke-dasharray='6%2c 14' stroke-dashoffset='60' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Work Sans',  sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    box-shadow: 0 13px 10px -7px rgba(0, 0, 0,0.1);
}

.newLesson:hover {
    box-shadow: 0 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);
}